# Zajęcia 1 (część 2)

## Wczytanie danych

Bedziemy wykorzystywać danye z ankiety StackOverflow z 2020.

https://insights.stackoverflow.com/survey/

Dane sa dostepne na google drive. Skorzystamy z modułu GoogleDriveDownloader, ktory pozwala pobrac dokument o podanym id.

In [1]:
! pip install googledrivedownloader

Collecting googledrivedownloader
  Downloading googledrivedownloader-0.4-py2.py3-none-any.whl.metadata (304 bytes)
Downloading googledrivedownloader-0.4-py2.py3-none-any.whl (3.9 kB)
Installing collected packages: googledrivedownloader
Successfully installed googledrivedownloader-0.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
from google_drive_downloader import GoogleDriveDownloader as gdd

In [3]:
from pathlib import Path
path_dir = str(Path.home()) + "/data/2020/"  # ustawmy sciezke na HOME/data/2020
archive_dir = path_dir + "survey.zip"        # plik zapiszemy pod nazwa survey.zip

In [4]:
path_dir

'/root/data/2020/'

In [5]:
archive_dir

'/root/data/2020/survey.zip'

In [6]:
# sciagniecie pliku we wskazane miejsce
gdd.download_file_from_google_drive(file_id='1dfGerWeWkcyQ9GX9x20rdSGj7WtEpzBB',
                                    dest_path=archive_dir,
                                    unzip=True)

Downloading 1dfGerWeWkcyQ9GX9x20rdSGj7WtEpzBB into /root/data/2020/survey.zip... Done.
Unzipping...Done.

# TODO Please update user id
%env USER_ID=7044
%env SEMESTER=2024l## <span style='background:yellow'> ZADANIE 1 </span>
Zapoznaj sie z plikami tekstowymi (survey_results_public.csv oraz survey_results_schema.csv). Podejrzyj ich zawartość, sprawdź ich wielkość (liczba linii oraz rozmiar). Wgraj plik do swojego kubełka `gs://ds-$SEMESTER-$USER_ID-notebook-data` na GCS do katalogu `survey/2020/`. Jesli nie masz kubełka stwórz go.

In [7]:
# TODO Please update user id
%env USER_ID=7044
%env SEMESTER=2024l

env: USER_ID=7044
env: SEMESTER=2024l

In [8]:
! gsutil cp /root/data/2020/survey_results_public.csv gs://ds-$SEMESTER-$USER_ID-notebook-data/survey/2020/

Copying file:///root/data/2020/survey_results_public.csv [Content-Type=text/csv]...
- [1 files][ 90.2 MiB/ 90.2 MiB]
Operation completed over 1 objects/90.2 MiB.

##  Podłączenie do sesji Spark na GKE

#### WAZNE
jesli w poprzednim notatniku masz aktywną sesję Spark zakończ ją (w poprzednim notatniku) poleceniem spark.stop()

In [14]:
from pyspark.sql import SparkSession
#spark.stop()
spark = SparkSession \
.builder \
.config("spark.executor.instances", "1")\
.config('spark.driver.memory','1g')\
.config('spark.executor.memory', '1g') \
.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/22 15:19:19 INFO SparkEnv: Registering MapOutputTracker
24/12/22 15:19:19 INFO SparkEnv: Registering BlockManagerMaster
24/12/22 15:19:19 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
24/12/22 15:19:19 INFO SparkEnv: Registering OutputCommitCoordinator

## Dostęp do danych na GCS

In [15]:
# ścieżka dostępu do pliku na GCS
# TODO Please update user id
user_id = 7044
semester = '2024l'
gs_path = f'gs://ds-{semester}-{user_id}-notebook-data/survey/2020/survey_results_public.csv'

In [16]:
gs_path

'gs://ds-2024l-7044-notebook-data/survey/2020/survey_results_public.csv'

## Spark SQL

Platforma Apache Spark posiada komponent Spark SQL, który pozwala traktować dane jak tabele w bazie danych. Można zakładać swoje schematy baz danych oraz korzystać z języka SQL.

In [17]:
table_name = "survey_2020"                               # nazwa tabeli ktora bedziemy chcieli stworzyc

In [18]:
spark.sql(f'DROP TABLE IF EXISTS {table_name}')       # usun te tabele jesli istniala wczesniej 

# stworz tabele korzystajac z danych we wskazanej lokalizacji
spark.sql(f'CREATE TABLE IF NOT EXISTS {table_name} \
          USING csv \
          OPTIONS (HEADER true, INFERSCHEMA true) \
          LOCATION "{gs_path}"')

ivysettings.xml file not found in HIVE_HOME or HIVE_CONF_DIR,/etc/hive/conf.dist/ivysettings.xml will be used
24/12/22 15:20:13 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `spark_catalog`.`default`.`survey_2020` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.
24/12/22 15:20:13 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

DataFrame[]

## Weryfikacja danych 
Sprawdzmy zaczytane dane.

In [19]:
spark.sql(f"describe {table_name}").show() # nie wszystkie dane ...

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          Respondent|      int|   NULL|
|          MainBranch|   string|   NULL|
|            Hobbyist|   string|   NULL|
|                 Age|   string|   NULL|
|          Age1stCode|   string|   NULL|
|            CompFreq|   string|   NULL|
|           CompTotal|   string|   NULL|
|       ConvertedComp|   string|   NULL|
|             Country|   string|   NULL|
|        CurrencyDesc|   string|   NULL|
|      CurrencySymbol|   string|   NULL|
|DatabaseDesireNex...|   string|   NULL|
|  DatabaseWorkedWith|   string|   NULL|
|             DevType|   string|   NULL|
|             EdLevel|   string|   NULL|
|          Employment|   string|   NULL|
|           Ethnicity|   string|   NULL|
|              Gender|   string|   NULL|
|          JobFactors|   string|   NULL|
|              JobSat|   string|   NULL|
+--------------------+---------+-------+
only showing top 20 rows

In [20]:
spark.sql(f"describe {table_name}").show(100, truncate=False) # niepoprawne typy danych... "NA"

+----------------------------+---------+-------+
|col_name                    |data_type|comment|
+----------------------------+---------+-------+
|Respondent                  |int      |NULL   |
|MainBranch                  |string   |NULL   |
|Hobbyist                    |string   |NULL   |
|Age                         |string   |NULL   |
|Age1stCode                  |string   |NULL   |
|CompFreq                    |string   |NULL   |
|CompTotal                   |string   |NULL   |
|ConvertedComp               |string   |NULL   |
|Country                     |string   |NULL   |
|CurrencyDesc                |string   |NULL   |
|CurrencySymbol              |string   |NULL   |
|DatabaseDesireNextYear      |string   |NULL   |
|DatabaseWorkedWith          |string   |NULL   |
|DevType                     |string   |NULL   |
|EdLevel                     |string   |NULL   |
|Employment                  |string   |NULL   |
|Ethnicity                   |string   |NULL   |
|Gender                      |string   |NULL   |
|JobFactors                  |string   |NULL   |
|JobSat                      |string   |NULL   |
|JobSeek                     |string   |NULL   |
|LanguageDesireNextYear      |string   |NULL   |
|LanguageWorkedWith          |string   |NULL   |
|MiscTechDesireNextYear      |string   |NULL   |
|MiscTechWorkedWith          |string   |NULL   |
|NEWCollabToolsDesireNextYear|string   |NULL   |
|NEWCollabToolsWorkedWith    |string   |NULL   |
|NEWDevOps                   |string   |NULL   |
|NEWDevOpsImpt               |string   |NULL   |
|NEWEdImpt                   |string   |NULL   |
|NEWJobHunt                  |string   |NULL   |
|NEWJobHuntResearch          |string   |NULL   |
|NEWLearn                    |string   |NULL   |
|NEWOffTopic                 |string   |NULL   |
|NEWOnboardGood              |string   |NULL   |
|NEWOtherComms               |string   |NULL   |
|NEWOvertime                 |string   |NULL   |
|NEWPurchaseResearch         |string   |NULL   |
|NEWPurpleLink               |string   |NULL   |
|NEWSOSites                  |string   |NULL   |
|NEWStuck                    |string   |NULL   |
|OpSys                       |string   |NULL   |
|OrgSize                     |string   |NULL   |
|PlatformDesireNextYear      |string   |NULL   |
|PlatformWorkedWith          |string   |NULL   |
|PurchaseWhat                |string   |NULL   |
|Sexuality                   |string   |NULL   |
|SOAccount                   |string   |NULL   |
|SOComm                      |string   |NULL   |
|SOPartFreq                  |string   |NULL   |
|SOVisitFreq                 |string   |NULL   |
|SurveyEase                  |string   |NULL   |
|SurveyLength                |string   |NULL   |
|Trans                       |string   |NULL   |
|UndergradMajor              |string   |NULL   |
|WebframeDesireNextYear      |string   |NULL   |
|WebframeWorkedWith          |string   |NULL   |
|WelcomeChange               |string   |NULL   |
|WorkWeekHrs                 |string   |NULL   |
|YearsCode                   |string   |NULL   |
|YearsCodePro                |string   |NULL   |
+----------------------------+---------+-------+

In [21]:
spark.sql(f"SELECT DISTINCT Age FROM {table_name} ORDER BY Age DESC").show()

+---+
|Age|
+---+
| NA|
| 99|
| 98|
| 97|
| 96|
| 95|
| 94|
| 89|
| 88|
| 86|
| 85|
| 84|
| 83|
| 81|
| 80|
| 79|
| 78|
| 77|
| 76|
| 75|
+---+
only showing top 20 rows

## Obsługa wartosci 'NA' - ponowne stworzenie tabeli

In [22]:
spark.sql(f'DROP TABLE IF EXISTS {table_name}')

# wykorzystujemy dodatkową opcję: NULLVALUE "NA"
spark.sql(f'CREATE TABLE IF NOT EXISTS {table_name} \
          USING csv \
          OPTIONS (HEADER true, INFERSCHEMA true, NULLVALUE "NA") \
          LOCATION "{gs_path}"')

24/12/22 15:23:11 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `spark_catalog`.`default`.`survey_2020` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

DataFrame[]

In [23]:
spark.sql(f"DESCRIBE {table_name}").show(100)

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          Respondent|      int|   NULL|
|          MainBranch|   string|   NULL|
|            Hobbyist|   string|   NULL|
|                 Age|   double|   NULL|
|          Age1stCode|   string|   NULL|
|            CompFreq|   string|   NULL|
|           CompTotal|   double|   NULL|
|       ConvertedComp|   double|   NULL|
|             Country|   string|   NULL|
|        CurrencyDesc|   string|   NULL|
|      CurrencySymbol|   string|   NULL|
|DatabaseDesireNex...|   string|   NULL|
|  DatabaseWorkedWith|   string|   NULL|
|             DevType|   string|   NULL|
|             EdLevel|   string|   NULL|
|          Employment|   string|   NULL|
|           Ethnicity|   string|   NULL|
|              Gender|   string|   NULL|
|          JobFactors|   string|   NULL|
|              JobSat|   string|   NULL|
|             JobSeek|   string|   NULL|
|LanguageDesireNex...|   string|   NULL|
|  LanguageWorkedWith|   string|   NULL|
|MiscTechDesireNex...|   string|   NULL|
|  MiscTechWorkedWith|   string|   NULL|
|NEWCollabToolsDes...|   string|   NULL|
|NEWCollabToolsWor...|   string|   NULL|
|           NEWDevOps|   string|   NULL|
|       NEWDevOpsImpt|   string|   NULL|
|           NEWEdImpt|   string|   NULL|
|          NEWJobHunt|   string|   NULL|
|  NEWJobHuntResearch|   string|   NULL|
|            NEWLearn|   string|   NULL|
|         NEWOffTopic|   string|   NULL|
|      NEWOnboardGood|   string|   NULL|
|       NEWOtherComms|   string|   NULL|
|         NEWOvertime|   string|   NULL|
| NEWPurchaseResearch|   string|   NULL|
|       NEWPurpleLink|   string|   NULL|
|          NEWSOSites|   string|   NULL|
|            NEWStuck|   string|   NULL|
|               OpSys|   string|   NULL|
|             OrgSize|   string|   NULL|
|PlatformDesireNex...|   string|   NULL|
|  PlatformWorkedWith|   string|   NULL|
|        PurchaseWhat|   string|   NULL|
|           Sexuality|   string|   NULL|
|           SOAccount|   string|   NULL|
|              SOComm|   string|   NULL|
|          SOPartFreq|   string|   NULL|
|         SOVisitFreq|   string|   NULL|
|          SurveyEase|   string|   NULL|
|        SurveyLength|   string|   NULL|
|               Trans|   string|   NULL|
|      UndergradMajor|   string|   NULL|
|WebframeDesireNex...|   string|   NULL|
|  WebframeWorkedWith|   string|   NULL|
|       WelcomeChange|   string|   NULL|
|         WorkWeekHrs|   double|   NULL|
|           YearsCode|   string|   NULL|
|        YearsCodePro|   string|   NULL|
+--------------------+---------+-------+

In [24]:
spark.sql(f"SELECT DISTINCT  Age FROM {table_name} ORDER BY Age DESC").show()

+-----+
|  Age|
+-----+
|279.0|
| 99.0|
| 98.0|
| 97.0|
| 96.0|
| 95.0|
| 94.0|
| 89.0|
| 88.0|
| 86.0|
| 85.0|
| 84.0|
| 83.0|
| 81.0|
| 80.0|
| 79.0|
| 78.0|
| 77.0|
| 76.0|
| 75.0|
+-----+
only showing top 20 rows

In [25]:
# sprawdzenie liczności tabeli
spark.sql(f"select count(*) from {table_name}").show()

+--------+
|count(1)|
+--------+
|   64461|
+--------+

In [26]:
spark.sql(f"select count(*) from {table_name}").explain()  # tak jak na poprzednich zajeciach mozemy wygenerowac plany wykonania polecenia

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[], functions=[count(1)])
   +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [plan_id=211]
      +- HashAggregate(keys=[], functions=[partial_count(1)])
         +- FileScan csv spark_catalog.default.survey_2020[] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[gs://ds-2024l-7044-notebook-data/survey/2020/survey_results_public.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<>

## Podgląd danych

In [27]:
spark.sql(f"select * from {table_name}").show()

24/12/22 15:24:47 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+--------------------+--------+----+----------+--------+---------+-------------+------------------+--------------------+--------------+----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------+--------------------+----------------------+--------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------------+--------------------+--------------------+-----------------+--------------------+--------------------+-----------+--------------------+----------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+--------------------+--------------------+-----------+---------+------------+
|Respondent|          MainBranch|Hobbyist| Age|Age1stCode|CompFreq|CompTotal|ConvertedComp|           Country|        CurrencyDesc|CurrencySymbol|DatabaseDesireNextYear|  DatabaseWorkedWith|             DevType|             EdLevel|          Employment|           Ethnicity|Gender|          JobFactors|              JobSat|             JobSeek|LanguageDesireNextYear|  LanguageWorkedWith|MiscTechDesireNextYear|  MiscTechWorkedWith|NEWCollabToolsDesireNextYear|NEWCollabToolsWorkedWith|NEWDevOps|      NEWDevOpsImpt|           NEWEdImpt|          NEWJobHunt|  NEWJobHuntResearch|            NEWLearn|NEWOffTopic|      NEWOnboardGood|NEWOtherComms|         NEWOvertime| NEWPurchaseResearch|    NEWPurpleLink|          NEWSOSites|            NEWStuck|      OpSys|             OrgSize|PlatformDesireNextYear|  PlatformWorkedWith|        PurchaseWhat|           Sexuality|SOAccount|         SOComm|          SOPartFreq|         SOVisitFreq|          SurveyEase|        SurveyLength|Trans|      UndergradMajor|WebframeDesireNextYear|  WebframeWorkedWith|       WelcomeChange|WorkWeekHrs|YearsCode|YearsCodePro|
+----------+--------------------+--------+----+----------+--------+---------+-------------+------------------+--------------------+--------------+----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------+--------------------+----------------------+--------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------------+--------------------+--------------------+-----------------+--------------------+--------------------+-----------+--------------------+----------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+--------------------+--------------------+-----------+---------+------------+
|         1|I am a developer ...|     Yes|NULL|        13| Monthly|     NULL|         NULL|           Germany|       European Euro|           EUR|  Microsoft SQL Server|Elasticsearch;Mic...|Developer, deskto...|Master’s degree (...|Independent contr...|White or of Europ...|   Man|Languages, framew...|  Slightly satisfied|I am not interest...|  C#;HTML/CSS;JavaS...|C#;HTML/CSS;JavaS...|     .NET Core;Xamarin|      .NET;.NET Core|        Microsoft Teams;M...|    Confluence;Jira;S...|       No| Somewhat important|    Fairly important|                NULL|                NULL|         Once a year|   Not sure|                NULL|           No|Often: 1-2 days p...|Start a free tria...|           Amused|Stack Overflow (p...|Visit Stack Overf...|    Windows|    2 to 9 employees|  Android;iOS;Kuber...|             Windows|                NULL|Straight / Hetero...|       No| No, not at all|                NULL|Multiple times pe...|Neither easy nor ...|Appropriate in le...|   No|Computer science,...|          ASP.NET Core|ASP.NET;ASP.NET Core|Just as welcome n...|       50.0|       36|          27|
|         2|I am a developer ...|      No|NULL|        19|    NULL|     NULL|         NULL|    United Kingdom|      Pound sterling|           GBP|                  NULL|                NULL|Developer, full-s...|Bachelor’s degree...|  Employed full-time|                NULL|  NULL|                NULL|   Very dissatisfied|I am not interest...|          Python;Swift|    JavaScript;Swift|  React Native;Tens...|        React Native|                Github;Slack|    Confluence;Jira;G...|     NULL|               NULL|    Fairly important|                NULL|                NULL|         Once a year|   Not sure|                NULL|           No|                NULL|                NULL|           Amused|Stack Overflow (p...|Visit Stack Overf...|      MacOS|1,000 to 4,999 em...|  iOS;Kubernetes;Li...|                 iOS|I have little or ...|                NULL|      Yes|Yes, definitely|Less than once pe...|Multiple times pe...|                NULL|                NULL| NULL|Computer science,...|                  NULL|                NULL|Somewhat more wel...|       NULL|        7|           4|
|         3|I code primarily ...|     Yes|NULL|        15|    NULL|     NULL|         NULL|Russian Federation|                NULL|          NULL|                  NULL|                NULL|                NULL|                NULL|                NULL|                NULL|  NULL|                NULL|                NULL|                NULL|  Objective-C;Pytho...|Objective-C;Pytho...|                  NULL|                NULL|                        NULL|                    NULL|     NULL|               NULL|                NULL|                NULL|                NULL|       Once a decade|       NULL|                NULL|           No|                NULL|                NULL|             NULL|Stack Overflow (p...|                NULL|Linux-based|                NULL|                  NULL|                NULL|                NULL|                NULL|      Yes|  Yes, somewhat|A few times per m...|Daily or almost d...|Neither easy nor ...|Appropriate in le...| NULL|                NULL|                  NULL|                NULL|Somewhat more wel...|       NULL|        4|        NULL|
|         4|I am a developer ...|     Yes|25.0|        18|    NULL|     NULL|         NULL|           Albania|        Albanian lek|           ALL|                  NULL|                NULL|                NULL|Master’s degree (...|                NULL|White or of Europ...|   Man|Flex time or a fl...|Slightly dissatis...|I’m not actively ...|                  NULL|                NULL|                  NULL|                NULL|                        NULL|                    NULL|       No|               NULL|Not at all import...|Curious about oth...|                NULL|         Once a year|   Not sure|                 Yes|          Yes|Occasionally: 1-2...|                NULL|             NULL|Stack Overflow (p...|                NULL|Linux-based|  20 to 99 employees|                  NULL|                NULL|I have a great de...|Straight / Hetero...|      Yes|Yes, definitely|A few times per m...|Multiple times pe...|                NULL|                NULL|   No|Computer science,...|                  NULL|                NULL|Somewhat less wel...|       40.0|        7|           4|
|         5|I used to be a de...|     Yes|31.0|        16|    NULL|     NULL|         NULL|     United States|                NULL|          NULL|      MySQL;PostgreSQL|MySQL;PostgreSQL;...|                NULL|Bachelor’s degree...|  Employed full-time|White or of Europ...|   Man|                NULL|                NULL|                NULL|       Java;Ruby;Scala|   HTML/CSS;Ruby;SQL|          Ansible;Chef|             Ansible|        Github;Google Sui...|    Confluence;Jira;G...|     NULL|               NULL|      Very important|                NULL|                NULL|         Once a year|         No|                NULL|          Yes|                NULL|Start a free tria...|Hello, old friend|Stack Overflow (p...|Call a coworker o...|    Windows|                NULL|  Docker;Google Clo...|AWS;Docker;Linux;...|                NULL|Straight / Hetero...|      Yes|  Yes, somewhat|Less than once pe...|A few times per m...|                Easy|           Too short|   No|Computer science,...|  Django;Ruby on Rails|       Ruby on Rails|Just as welcome n...|       NULL|       15|           8|
|         6|I am a developer ...|      No|NULL|        14|    NULL|     NULL|         NULL|           Germany|       European Euro|           EUR|                  NULL|                NULL|Designer;Develope...|Secondary school ...|  Employed full-time|White or of Europ...|   Man|Diversity of the ...|  Slightly satisfied|I am not interest...|  HTML/CSS;Java;Jav...|HTML/CSS;Java;Jav...|                  NULL|                NULL|                Github;Slack|    Confluence;Github...| Not sure|               NULL|    Fairly important|                NULL|                NULL|         Once a year|         No|                  No|           No|               Never|Ask developers I ...|           Amused|Stack Overflow (p...|Play games;Visit ...|    Windows|                NULL|               Android|Android;Docker;Wo...|I have some influ...|Straight / Hetero...|      Yes|  Yes, somewhat|A few times per m...|A few times per week|Neither easy nor ...|Appropriate in le...| NULL|                NULL|              React.js|                NULL|                NULL|       NULL|        6|           4|
|         7|I am a developer ...|     Yes|NULL|        18| Monthly|     NULL|         NULL|             India|United States dollar|           USD|                  NULL|                NULL|Developer, back-e...|Bachelor’s degree...|  Employed full-time|                NULL|  NULL|                NULL|      Very satisfied|I’m not actively ...|       C#;HTML/CSS;PHP|     C#;HTML/CSS;PHP|                  NULL|                NULL|                        NULL|                    NULL|      Yes|Extremely important|      Very important|Better compensati...|Read company medi...|    Every few months|        Yes|                 Yes|           No|Sometimes: 1-2 da...|Start a free tria...|             NULL|Stack Overflow (p...|                NULL|    Windows|  20 to 99 employees|                  NULL|                NULL|                NULL|                NULL|      Yes|Yes, definitely|Multiple times pe...|Multiple times pe...|                NULL|                NULL| NULL|Computer science,...|                  NULL|                NULL|A lot more welcom...|       NULL|        6|           4|
|         8|I am a developer ...|     Yes|36.0|        12|  Yearly| 116000.0|     116000.0|     United States|United States dollar|           USD|               MongoDB| MariaDB;MySQL;Redis|Developer, back-e...|Bachelor’s degree...|  Employed full-time|White or of Europ...|   Man|Remote work optio...|Slightly dissatis...|I’m not actively ...|            JavaScript|          Python;SQL|              Unity 3D|             Ansible|                        NULL|    Confluence;Jira;G...|      Yes|Extremely important|Not at all import...|Curious about oth...|Read company medi...|         Once a year|   Not sure|                 Yes|           No|Occasionally: 1-2...|Start a free tria...|Hello, old friend|Stack Overflow (p...|Play games;Call a...|Linux-based|  20 to 99 employees|  iOS;Slack Apps an...|              Docker|I have some influ...|Straight / Hetero...|      Yes| No, not really|Less than once pe...|Multiple times pe...|                Easy|Appropriate in le...|   No|Computer science,...|  Django;React.js;V...|               Flask|Just as welcome n...|       39.0|       17|          13|
|         9|I am a developer ...|      No|30.0|        20|    NULL|     NULL|         NULL|           Tunisia|United States dollar|           USD|                  NULL|                NULL|Developer, full-s...|Professional degr...|Independent contr...|                NULL|   Man|Diversity of the ...|   Very dissatisfied|I’m not actively ...|           Python;Rust|HTML/CSS;JavaScri...|                  NULL|                NULL|                        NULL|    Github;Slack;Trel...|     NULL|               NULL|      Very important|Curious about oth...|                NULL|         Once a year|         No|                 Yes|           No|Occasionally: 1-2...|  Start a free trial|Hello, old friend|Stack Overflow (p...|            Meditate|    Windows|Just me - I am a ...|                  NULL|           WordPress|                NULL|Straight / Hetero...|      Yes|Yes, definitely|Multiple times pe...|Multiple times pe...|Neither easy nor ...|Appropriate in le...|   No|Computer science,...|            Angular.js|              jQuery|Just as welcome n...|       50.0|        6|           4|
|        10|I am a developer ...|     Yes|22.0|        14|  Yearly|  25000.0|      32315.0|    United Kingdom|      Pound sterling|           GBP|  Microsoft SQL Server|Microsoft SQL Server|Database administ...|Master’s degree (...|  Employed full-time|White or of Europ...|   Man|Flex time or a fl...|      Very satisfied|I’m not actively ...|  HTML/CSS;Java;Jav...|HTML/CSS;Java;Jav...|     Pandas;TensorFlow|              Pandas|        Github;Microsoft ...|    Github;Microsoft ...|       No|            Neutral|    Fairly important|Curious about oth...|Company reviews f...|    Every few months|        Yes|Onboarding? What ...|           No|Often: 1-2 days p...|Start a free tria...|Hello, old friend|Stack Overflow (p...|Visit Stack Overflow|    Windows|    2 to 9 employees|  Android;Linux;Ras...|Android;Linux;Ras...|I have a great de...|Straight / Hetero...|      Yes|Yes, definitely|Multiple times pe...|Multiple times pe...|                Easy|Appropriate in le...|   No|Mathematics or st...|          Flask;jQuery|        Flask;jQuery|Somewhat more wel...|       36.0|        8|           4|
|        11|I am a developer ...|     Yes|23.0|        13|  Yearly|  31000.0|      40070.0|    United Kingdom|      Pound sterling|           GBP|  Firebase;MongoDB;...|Firebase;MongoDB;...|Developer, back-e...|Bachelor’s degree...|  Employed full-time|White or of Europ...|   Man|Flex time or a fl...|Slightly dissatis...|I am actively loo...|  Go;JavaScript;Swi...| C#;JavaScript;Swift|  Node.js;React Native|             Node.js|        Jira;Github;Slack...|    Confluence;Jira;G...|       No|Extremely important|      Very important|Curious about oth...|Read company medi...|    Every few months|         No|                 Yes|           No|Rarely: 1-2 days ...|                NULL|          Annoyed|Stack Overflow (p...|Play games;Call a...|    Windows|10,000 or more em...|  AWS;Docker;iOS;MacOS|      AWS;Heroku;iOS|I have little or ...|Straight / Hetero...|      Yes|  Yes, somewhat|I have never part...|Multiple times pe...|                Easy|Appropriate in le...|   No|Computer science,...|  Angular;Django;Re...|Angular;Angular.j...|Just as welcome n...|       40.0|       10|           2|
|        12|I am a developer ...|      No|49.0|        42| Monthly|   1100.0|      14268.0|             Spain|       European Euro|           EUR|                  NULL|                NULL|Designer;Develope...|Some college/univ...|  Employed full-time|White or of Europ...|   Man|Remote work optio...|   Very dissatisfied|I’m not actively ...|   HTML/CSS;JavaScript| HTML/CSS;JavaScript|                  .NET|                .NET|                      Github|                  Github| Not sure|            Neutral|  Somewhat important| Better compensation|Personal network ...|Once every few years|   Not sure|                  No|           No|Rarely: 1-2 days ...|                NULL|      Indifferent|Stack Overflow (p...|Visit Stack Overflow|    Windows|    2 to 9 employees|     Windows;WordPress|   Windows;WordPress|I have little or ...|Straight / Hetero...|      Yes|  Yes, somewhat|A few times per week|Multiple times pe...|                Easy|Appropriate in le...|   No|Mathematics or st...|        ASP.NET;jQuery|      ASP.NET;jQuery|Just as welcome n...|       40.0|        7|           7|
|        13|I am not primaril...|     Yes|53.0|        14| Monthly|   3000.0|      38916.0|       Netherlands|       European Euro|           EUR|                  NULL|                NULL|Designer;Develope...|Secondary school ...|  Employed full-time|White or of Europ...|   Man|Industry that I’d...|      Very satisfied|I am not interest...|                Python| C;JavaScript;Python|                  NULL|                NULL|                        NULL|                    NULL|       No|               NULL|Not at all import...|Having a bad day ...|Read company medi...|Once every few years|         No|                 Yes|           No|Rarely: 1-2 days ...|  Start a free trial|           Amused|Stack Overflow (p...|Call a coworker o...|      MacOS|    2 to 9 employees|   Linux;MacOS;Windows|       MacOS;Windows|I have some influ...|Straight / Hetero...|      Yes|Yes, definitely|Multiple times pe...|Multiple times pe...|Neither easy nor ...|            Too long|   No|                NULL|                  NULL|                NULL|A lot less welcom...|       36.0|       35|          20|
|        14|I am a developer ...|     Yes|27.0|        13|  Yearly|  66000.0|      66000.0|     United States|United States dollar|           USD|  Firebase;Microsof...|Firebase;Microsof...|Developer, deskto...|Associate degree ...|  Employed full-time|White or of Europ...|   Man|Industry that I’d...|  Slightly satisfied|I’m not actively ...|  HTML/CSS;JavaScri...|HTML/CSS;JavaScri...|               Node.js|             Node.js|        Confluence;Jira;G...|    Confluence;Jira;G...|      Yes|Extremely important|  Somewhat important|Wanting to share ...|Read company medi...|    Every few months|         No|                 Yes|           No|Occasionally: 1-2...|                NULL|           Amused|Stack Overflow (p...|Call a coworker o...|    Windows|100 to 499 employees|  Google Cloud Plat...|Google Cloud Plat...|I have little or ...|Straight / Hetero...|      Yes|Yes, definitely|A few times per week|Multiple times pe...|Neither easy nor ...|Appropriate in le...|   No|Computer science,...|        Angular;Vue.js|      Angular;Vue.js|Just as welcome n...|       40.0|        5|           1|
|        15|I am a student wh...|     Yes|NULL|        13|    NULL|     NULL|         NULL|            France|                NULL|          NULL|                  NULL|        MySQL;Oracle|                NULL|Bachelor’s degree...|             Student|                NULL|   Man|Languages, framew...|                NULL|I’m not actively ...|  Assembly;Bash/She...|Bash/Shell/PowerS...|                  NULL|                NULL|               Github;Gitlab|                  Github|     NULL|               NULL|                NULL|                NULL|                NULL|Once every few years|        Yes|                NULL|           No|                NULL|Ask developers I ...|          Annoyed|Stack Overflow (p...|Play games;Visit ...|Linux-based|                NULL|                 Linux|               Linux|                NULL|      Gay or Lesbian|       No| No, not really|                NULL|A few times per m...|                Easy|Appropriate in le...|   No|Computer science,...|                  NULL|                NULL|Just as welcome n...|       NULL|        4|        NULL|

## Biblioteka Pandas

https://pandas.pydata.org/

Moduł Pandas jest biblioteką Pythonową do manipulacji danymi. W szczegolnosci w pandas mozemy stworzyc ramki danych i wykonywac na niej analize, agregacje oraz wizualizacje danych. 
Przy nieduzych zbiorach danych i prostych operacjach to doskonała biblioteka. Jednak kiedy zbior danych sie rozrasta lub kiedy wymagane sa zlozone transformacje to operacje moga byc wolne.

Operacje na rozproszonych danych sa szybsze. Ale tu takze napotykamy ograniczenia np trudność w wizualizacji danych.

In [28]:
import pandas as pd

In [29]:
spark.sql(f"select * from {table_name} limit 10").toPandas()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,None,NaN,NaN,United Kingdom,Pound sterling,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,None,NaN,NaN,Russian Federation,None,...,Neither easy nor difficult,Appropriate in length,None,None,None,None,Somewhat more welcome now than last year,NaN,4,None
3,4,I am a developer by profession,Yes,25.0,18,None,NaN,NaN,Albania,Albanian lek,...,None,None,No,"Computer science, computer engineering, or sof...",None,None,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,None,NaN,NaN,United States,None,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,None,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,None,None,React.js,None,None,NaN,6,4
6,7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,A lot more welcome now than last year,NaN,6,4
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
8,9,I am a developer by profession,No,30.0,20,None,NaN,NaN,Tunisia,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4

**Ważne** 

Metoda toPandas() na ramce pyspark, konwertuje ramkę pyspark do ramki pandas. Wykonuje akcje pobrania (collect) wszystkich danych z executorów (z JVM) i transfer do  programu sterujacego (driver) i konwersje do typu Pythonowego w notatniku. Ze względu na ograniczenia pamięciowe w programie sterującym należy to wykonywać na podzbiorach danych.

**DataFrame.collect() collects the distributed data to the driver side as the local data in Python. Note that this can throw an out-of-memory error when the dataset is too large to fit in the driver side because it collects all the data from executors to the driver side.**

**Note that DataFrame.toPandas() results in the collection of all records in the DataFrame to the driver program and should be done on a small subset of the data.**

In [30]:
dist_df = spark.sql(f"select * from {table_name} LIMIT 10")
local_df = spark.sql(f"select * from {table_name} LIMIT 10").toPandas()

In [31]:
type(dist_df)  # dataframe Sparkowy ("przepis na dane, rozproszony, leniwy")

pyspark.sql.dataframe.DataFrame

In [33]:
type(local_df)  # dataframe Pandasowy (lokalny, sciągnięty do pamięci operacyjnej)

pandas.core.frame.DataFrame

In [34]:
dist_df.show()

+----------+--------------------+--------+----+----------+--------+---------+-------------+------------------+--------------------+--------------+----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------+--------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+-------------+--------------------+--------------------+-----------------+--------------------+--------------------+-----------+--------------------+----------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+--------------------+--------------------+-----------+---------+------------+
|Respondent|          MainBranch|Hobbyist| Age|Age1stCode|CompFreq|CompTotal|ConvertedComp|           Country|        CurrencyDesc|CurrencySymbol|DatabaseDesireNextYear|  DatabaseWorkedWith|             DevType|             EdLevel|          Employment|           Ethnicity|Gender|          JobFactors|              JobSat|             JobSeek|LanguageDesireNextYear|  LanguageWorkedWith|MiscTechDesireNextYear|MiscTechWorkedWith|NEWCollabToolsDesireNextYear|NEWCollabToolsWorkedWith|NEWDevOps|      NEWDevOpsImpt|           NEWEdImpt|          NEWJobHunt|  NEWJobHuntResearch|        NEWLearn|NEWOffTopic|      NEWOnboardGood|NEWOtherComms|         NEWOvertime| NEWPurchaseResearch|    NEWPurpleLink|          NEWSOSites|            NEWStuck|      OpSys|             OrgSize|PlatformDesireNextYear|  PlatformWorkedWith|        PurchaseWhat|           Sexuality|SOAccount|         SOComm|          SOPartFreq|         SOVisitFreq|          SurveyEase|        SurveyLength|Trans|      UndergradMajor|WebframeDesireNextYear|  WebframeWorkedWith|       WelcomeChange|WorkWeekHrs|YearsCode|YearsCodePro|
+----------+--------------------+--------+----+----------+--------+---------+-------------+------------------+--------------------+--------------+----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------+--------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+-------------+--------------------+--------------------+-----------------+--------------------+--------------------+-----------+--------------------+----------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+--------------------+--------------------+-----------+---------+------------+
|         1|I am a developer ...|     Yes|NULL|        13| Monthly|     NULL|         NULL|           Germany|       European Euro|           EUR|  Microsoft SQL Server|Elasticsearch;Mic...|Developer, deskto...|Master’s degree (...|Independent contr...|White or of Europ...|   Man|Languages, framew...|  Slightly satisfied|I am not interest...|  C#;HTML/CSS;JavaS...|C#;HTML/CSS;JavaS...|     .NET Core;Xamarin|    .NET;.NET Core|        Microsoft Teams;M...|    Confluence;Jira;S...|       No| Somewhat important|    Fairly important|                NULL|                NULL|     Once a year|   Not sure|                NULL|           No|Often: 1-2 days p...|Start a free tria...|           Amused|Stack Overflow (p...|Visit Stack Overf...|    Windows|    2 to 9 employees|  Android;iOS;Kuber...|             Windows|                NULL|Straight / Hetero...|       No| No, not at all|                NULL|Multiple times pe...|Neither easy nor ...|Appropriate in le...|   No|Computer science,...|          ASP.NET Core|ASP.NET;ASP.NET Core|Just as welcome n...|       50.0|       36|          27|
|         2|I am a developer ...|      No|NULL|        19|    NULL|     NULL|         NULL|    United Kingdom|      Pound sterling|           GBP|                  NULL|                NULL|Developer, full-s...|Bachelor’s degree...|  Employed full-time|                NULL|  NULL|                NULL|   Very dissatisfied|I am not interest...|          Python;Swift|    JavaScript;Swift|  React Native;Tens...|      React Native|                Github;Slack|    Confluence;Jira;G...|     NULL|               NULL|    Fairly important|                NULL|                NULL|     Once a year|   Not sure|                NULL|           No|                NULL|                NULL|           Amused|Stack Overflow (p...|Visit Stack Overf...|      MacOS|1,000 to 4,999 em...|  iOS;Kubernetes;Li...|                 iOS|I have little or ...|                NULL|      Yes|Yes, definitely|Less than once pe...|Multiple times pe...|                NULL|                NULL| NULL|Computer science,...|                  NULL|                NULL|Somewhat more wel...|       NULL|        7|           4|
|         3|I code primarily ...|     Yes|NULL|        15|    NULL|     NULL|         NULL|Russian Federation|                NULL|          NULL|                  NULL|                NULL|                NULL|                NULL|                NULL|                NULL|  NULL|                NULL|                NULL|                NULL|  Objective-C;Pytho...|Objective-C;Pytho...|                  NULL|              NULL|                        NULL|                    NULL|     NULL|               NULL|                NULL|                NULL|                NULL|   Once a decade|       NULL|                NULL|           No|                NULL|                NULL|             NULL|Stack Overflow (p...|                NULL|Linux-based|                NULL|                  NULL|                NULL|                NULL|                NULL|      Yes|  Yes, somewhat|A few times per m...|Daily or almost d...|Neither easy nor ...|Appropriate in le...| NULL|                NULL|                  NULL|                NULL|Somewhat more wel...|       NULL|        4|        NULL|
|         4|I am a developer ...|     Yes|25.0|        18|    NULL|     NULL|         NULL|           Albania|        Albanian lek|           ALL|                  NULL|                NULL|                NULL|Master’s degree (...|                NULL|White or of Europ...|   Man|Flex time or a fl...|Slightly dissatis...|I’m not actively ...|                  NULL|                NULL|                  NULL|              NULL|                        NULL|                    NULL|       No|               NULL|Not at all import...|Curious about oth...|                NULL|     Once a year|   Not sure|                 Yes|          Yes|Occasionally: 1-2...|                NULL|             NULL|Stack Overflow (p...|                NULL|Linux-based|  20 to 99 employees|                  NULL|                NULL|I have a great de...|Straight / Hetero...|      Yes|Yes, definitely|A few times per m...|Multiple times pe...|                NULL|                NULL|   No|Computer science,...|                  NULL|                NULL|Somewhat less wel...|       40.0|        7|           4|
|         5|I used to be a de...|     Yes|31.0|        16|    NULL|     NULL|         NULL|     United States|                NULL|          NULL|      MySQL;PostgreSQL|MySQL;PostgreSQL;...|                NULL|Bachelor’s degree...|  Employed full-time|White or of Europ...|   Man|                NULL|                NULL|                NULL|       Java;Ruby;Scala|   HTML/CSS;Ruby;SQL|          Ansible;Chef|           Ansible|        Github;Google Sui...|    Confluence;Jira;G...|     NULL|               NULL|      Very important|                NULL|                NULL|     Once a year|         No|                NULL|          Yes|                NULL|Start a free tria...|Hello, old friend|Stack Overflow (p...|Call a coworker o...|    Windows|                NULL|  Docker;Google Clo...|AWS;Docker;Linux;...|                NULL|Straight / Hetero...|      Yes|  Yes, somewhat|Less than once pe...|A few times per m...|                Easy|           Too short|   No|Computer science,...|  Django;Ruby on Rails|       Ruby on Rails|Just as welcome n...|       NULL|       15|           8|
|         6|I am a developer ...|      No|NULL|        14|    NULL|     NULL|         NULL|           Germany|       European Euro|           EUR|                  NULL|                NULL|Designer;Develope...|Secondary school ...|  Employed full-time|White or of Europ...|   Man|Diversity of the ...|  Slightly satisfied|I am not interest...|  HTML/CSS;Java;Jav...|HTML/CSS;Java;Jav...|                  NULL|              NULL|                Github;Slack|    Confluence;Github...| Not sure|               NULL|    Fairly important|                NULL|                NULL|     Once a year|         No|                  No|           No|               Never|Ask developers I ...|           Amused|Stack Overflow (p...|Play games;Visit ...|    Windows|                NULL|               Android|Android;Docker;Wo...|I have some influ...|Straight / Hetero...|      Yes|  Yes, somewhat|A few times per m...|A few times per week|Neither easy nor ...|Appropriate in le...| NULL|                NULL|              React.js|                NULL|                NULL|       NULL|        6|           4|
|         7|I am a developer ...|     Yes|NULL|        18| Monthly|     NULL|         NULL|             India|United States dollar|           USD|                  NULL|                NULL|Developer, back-e...|Bachelor’s degree...|  Employed full-time|                NULL|  NULL|                NULL|      Very satisfied|I’m not actively ...|       C#;HTML/CSS;PHP|     C#;HTML/CSS;PHP|                  NULL|              NULL|                        NULL|                    NULL|      Yes|Extremely important|      Very important|Better compensati...|Read company medi...|Every few months|        Yes|                 Yes|           No|Sometimes: 1-2 da...|Start a free tria...|             NULL|Stack Overflow (p...|                NULL|    Windows|  20 to 99 employees|                  NULL|                NULL|                NULL|                NULL|      Yes|Yes, definitely|Multiple times pe...|Multiple times pe...|                NULL|                NULL| NULL|Computer science,...|                  NULL|                NULL|A lot more welcom...|       NULL|        6|           4|
|         8|I am a developer ...|     Yes|36.0|        12|  Yearly| 116000.0|     116000.0|     United States|United States dollar|           USD|               MongoDB| MariaDB;MySQL;Redis|Developer, back-e...|Bachelor’s degree...|  Employed full-time|White or of Europ...|   Man|Remote work optio...|Slightly dissatis...|I’m not actively ...|            JavaScript|          Python;SQL|              Unity 3D|           Ansible|                        NULL|    Confluence;Jira;G...|      Yes|Extremely important|Not at all import...|Curious about oth...|Read company medi...|     Once a year|   Not sure|                 Yes|           No|Occasionally: 1-2...|Start a free tria...|Hello, old friend|Stack Overflow (p...|Play games;Call a...|Linux-based|  20 to 99 employees|  iOS;Slack Apps an...|              Docker|I have some influ...|Straight / Hetero...|      Yes| No, not really|Less than once pe...|Multiple times pe...|                Easy|Appropriate in le...|   No|Computer science,...|  Django;React.js;V...|               Flask|Just as welcome n...|       39.0|       17|          13|
|         9|I am a developer ...|      No|30.0|        20|    NULL|     NULL|         NULL|           Tunisia|United States dollar|           USD|                  NULL|                NULL|Developer, full-s...|Professional degr...|Independent contr...|                NULL|   Man|Diversity of the ...|   Very dissatisfied|I’m not actively ...|           Python;Rust|HTML/CSS;JavaScri...|                  NULL|              NULL|                        NULL|    Github;Slack;Trel...|     NULL|               NULL|      Very important|Curious about oth...|                NULL|     Once a year|         No|                 Yes|           No|Occasionally: 1-2...|  Start a free trial|Hello, old friend|Stack Overflow (p...|            Meditate|    Windows|Just me - I am a ...|                  NULL|           WordPress|                NULL|Straight / Hetero...|      Yes|Yes, definitely|Multiple times pe...|Multiple times pe...|Neither easy nor ...|Appropriate in le...|   No|Computer science,...|            Angular.js|              jQuery|Just as welcome n...|       50.0|        6|           4|
|        10|I am a developer ...|     Yes|22.0|        14|  Yearly|  25000.0|      32315.0|    United Kingdom|      Pound sterling|           GBP|  Microsoft SQL Server|Microsoft SQL Server|Database administ...|Master’s degree (...|  Employed full-time|White or of Europ...|   Man|Flex time or a fl...|      Very satisfied|I’m not actively ...|  HTML/CSS;Java;Jav...|HTML/CSS;Java;Jav...|     Pandas;TensorFlow|            Pandas|        Github;Microsoft ...|    Github;Microsoft ...|       No|            Neutral|    Fairly important|Curious about oth...|Company reviews f...|Every few months|        Yes|Onboarding? What ...|           No|Often: 1-2 days p...|Start a free tria...|Hello, old friend|Stack Overflow (p...|Visit Stack Overflow|    Windows|    2 to 9 employees|  Android;Linux;Ras...|Android;Linux;Ras...|I have a great de...|Straight / Hetero...|      Yes|Yes, definitely|Multiple times pe...|Multiple times pe...|                Easy|Appropriate in le...|   No|Mathematics or st...|          Flask;jQuery|        Flask;jQuery|Somewhat more wel...|       36.0|        8|           4|
+----------+--------------------+--------+----+----------+--------+---------+-------------+------------------+--------------------+--------------+----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------+--------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+----------------+-----------+--------------------+-------------+--------------------+--------------------+-----------------+--------------------+--------------------+-----------+--------------------+----------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+--------------------+--------------------+-----------+---------+------------+

In [35]:
local_df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,None,NaN,NaN,United Kingdom,Pound sterling,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,None,NaN,NaN,Russian Federation,None,...,Neither easy nor difficult,Appropriate in length,None,None,None,None,Somewhat more welcome now than last year,NaN,4,None
3,4,I am a developer by profession,Yes,25.0,18,None,NaN,NaN,Albania,Albanian lek,...,None,None,No,"Computer science, computer engineering, or sof...",None,None,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,None,NaN,NaN,United States,None,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,None,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,None,None,React.js,None,None,NaN,6,4
6,7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,A lot more welcome now than last year,NaN,6,4
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
8,9,I am a developer by profession,No,30.0,20,None,NaN,NaN,Tunisia,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4

In [36]:
pd.set_option('display.max_columns', None)    # pokazuj wszystkie kolumny
# pd.reset_option(“display.max_columns”)

## <span style='background:yellow'> ZADANIE 2 </span>
Napisz w Spark SQL zapytanie które zwróci średnią liczbę godzin przepracowywanych przez z respondentów pogrupowanych ze względu na kraj. Następnie przekształć wynik do ramki pandasowej i ją wyświetl.

## Wizualizacje

Do wizualizacji będziemy się posługiwać modułami matplotlib (https://matplotlib.org/) i seaborn (https://seaborn.pydata.org/). Do bardzo rozbudowane moduły, zachęcamy do eksploracji oficjalnych dokumentacji. Na zajęciach zrealizujemy następujące wykresy:
* histogramy
* liniowe 
* wiolinowe
* kołowe 

Moduły wizualizacyjne wymagają danych na lokalnej maszynie. Mogą być to natywne typy danych Pythonowe (słowniki, listy) ale także np ramki danych pandasowe. ~~Nie działa wizualizacja na ramkach danych Sparkowych.~~

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

## Narysuj histogram wieku respondentów

In [ ]:
# przygotowanie danych
# przycinamy dane tylko do zakresu ktory jest potrzebny do realizacji polecenia
ages = spark.sql(f"SELECT CAST (Age AS INT) \
                    FROM {table_name} \
                    WHERE age IS NOT NULL \
                    AND age BETWEEN 10 AND 80").toPandas()

In [ ]:
ages

In [ ]:
ages.hist("Age", bins=10)
plt.show()

In [ ]:
sns.displot(ages, bins=10, rug=True, kde=False)
plt.show()

## Jaki jest udział programistów hobbistów? Narysuj wykres kołowy

Będzie nas interesowała ta proporcja ze względu na płeć.

In [ ]:
# przygotowanie (filtrowanie, grupowanie i zliczenie) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki
hobby_all = spark.sql(f"SELECT Hobbyist, COUNT(*) AS cnt FROM {table_name} WHERE Hobbyist IS NOT NULL GROUP BY Hobbyist").toPandas()
hobby_men = spark.sql(f"SELECT Hobbyist, COUNT(*) AS cnt FROM {table_name} WHERE Hobbyist IS NOT NULL AND Gender='Man' GROUP BY Hobbyist").toPandas()
hobby_women = spark.sql(f"SELECT Hobbyist, COUNT(*) AS cnt FROM {table_name} WHERE Hobbyist IS NOT NULL AND Gender='Woman' GROUP BY Hobbyist").toPandas()

In [ ]:
hobby_all.plot.pie(y='cnt', labels=hobby_all['Hobbyist'], title="All", autopct='%.0f')
plt.legend(loc="lower center")
plt.show()

In [ ]:
hobby_men.plot.pie(y='cnt', labels=hobby_men['Hobbyist'], title="Men", autopct='%.0f')
plt.legend(loc="lower center")
plt.show()

In [ ]:
hobby_women.plot.pie(y='cnt', labels=hobby_women['Hobbyist'], title="Women", autopct='%.0f')
plt.legend(loc="lower center")
plt.show()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=3, figsize=(15,5))

hobby_all.plot.pie(y='cnt', labels=hobby_all['Hobbyist'], title="All", ax=axes[0], autopct='%.0f')
hobby_men.plot.pie(y='cnt', labels=hobby_men['Hobbyist'], title="Men", ax=axes[1], autopct='%.0f')
hobby_women.plot.pie(y='cnt', labels=hobby_men['Hobbyist'], title="Women", ax=axes[2], autopct='%.0f')

plt.show()

## Wykres liniowy. Zależność między wiekiem a liczbą przepracowanych godzin
Interesują nas dla developerzy profesjonaliści (nie hobbiści) w przedziale wiekowym 18-65.

In [ ]:
# przygotowanie (filtrowanie, grupowanie, wyliczenie sredniej oraz sortowanie) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki

age_work = spark.sql(f"SELECT age, CAST (avg(WorkWeekHrs) AS INT) AS avg FROM {table_name} \
            WHERE WorkWeekHrs IS NOT NULL AND age BETWEEN 18 AND 65 AND hobbyist = 'No' \
            GROUP BY age \
            ORDER BY age ASC").toPandas()

In [ ]:
age_work

In [ ]:
age_work.plot(x='age', y='avg', kind='line')
plt.show()

In [ ]:
sns.relplot(x="age", y="avg", kind="line", data=age_work);
plt.show()

## Wykres słupkowy. Pokaż liczbę respondentów na kraj

Interesuje nas tylko 10 krajów o najwyższej liczbie respondentow.

In [ ]:
# przygotowanie (grupowanie, zliczenie, sortowanie oraz przyciecie do 10 wyników) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki

max_countries = spark.sql(f"SELECT country, COUNT(*) AS cnt \
                FROM {table_name} \
                GROUP BY country \
                ORDER BY cnt DESC \
                LIMIT 10 ").toPandas()

In [ ]:
max_countries.plot.bar(y='cnt', x='country')
plt.show()

In [ ]:
sns.catplot(x="country", y="cnt", kind="bar",\
            data=max_countries).set_xticklabels(rotation=65)
plt.show()

## Wykres słupkowy. Średnie zarobki w  krajach w ktorych jest powyzej 1000 respondentów

In [ ]:
# przygotowanie (filtrowanie, grupowanie, wyliczenie sredniej, filtrowanie po liczności i grup oraz sortowanie) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki

country_salary = spark.sql(f"SELECT country, \
    CAST (avg(ConvertedComp) AS INT) as avg \
    FROM {table_name} \
    WHERE country IS NOT NULL \
    GROUP BY country \
    HAVING COUNT(*) > 1000 \
    ORDER BY avg DESC ").toPandas()

In [ ]:
country_salary.plot.barh(("country"))
plt.show()

## Boxplot. Pokaz rozklad pensji w krajach gdzie jest powyzej 1000 respondentów
Tutaj będziemy musieli skorzystać z podzapytania.

In [ ]:
# przygotowanie danych na rozproszonych danych (spark sql). Mamy tu do czynienia z podzapytaniem
# pozniej pobranie do pandasowej ramki

country_comp = spark.sql(f"SELECT country, CAST(ConvertedComp AS INT) \
                FROM {table_name} \
                WHERE country IN (SELECT country FROM {table_name} GROUP BY country HAVING COUNT(*) > 1000) \
                AND ConvertedComp IS NOT NULL AND ConvertedComp > 0 \
                ORDER BY ConvertedComp desc").toPandas()
country_comp

In [ ]:
country_comp.boxplot(column="ConvertedComp", by="country", \
                     showfliers=False, rot=60, meanline=True)
plt.show()

In [ ]:
sns.catplot(x="country", y="ConvertedComp", kind="box", \
            showfliers=False, data=country_comp, palette="Blues")\
    .set_xticklabels(rotation=65)
plt.show()

## <span style='background:yellow'> ZADANIE 3 </span>
Narysuj rozklad pensji w zaleznosci od plci.

## Narysuj wykres popularnosci jezykow programowania

In [ ]:
spark.sql(f"select LanguageWorkedWith from {table_name} where LanguageWorkedWith IS NOT NULL").show(truncate=False)

Języki programowania są zapisane w pojedynczej komórce. Będzie trzeba je rozdzielić i zliczyć. Tak przygotowane dane dopiero posłużą nam do narysowania wykresu. Wykorzystamy funkcję `posexplode`.

In [ ]:
langs = spark.sql(f"select LanguageWorkedWith from {table_name} where LanguageWorkedWith IS NOT NULL")

In [ ]:
from pyspark.sql.functions import *

langs.select(
        posexplode(split("LanguageWorkedWith", ";")).alias("pos", "language")
    ).show()

In [ ]:
langs.select(
        posexplode(split("LanguageWorkedWith", ";")).alias("pos", "language")).groupBy("language").count().orderBy("count").show()

In [ ]:
langs_pd = langs.select(
        posexplode(split("LanguageWorkedWith", ";")).alias("pos", "language")).groupBy("language").count().orderBy("count").toPandas()
langs_pd

In [ ]:
from matplotlib.pyplot import figure

figure(figsize=(8, 9))
plt.barh(width=langs_pd["count"], y=langs_pd["language"])
plt.show()

## Narysuj wykres popularnosci jezykow wsrod Data Scientists

Zdefiniujmy sobie funkcję, która przekształca nam języki do wymaganej przez nas postaci

In [ ]:
from pyspark.sql.functions import *

def prepare_lang(df, colName='LanguageWorkedWith'):
    summary = df.select(posexplode(split(colName, ";")).alias("pos", "language")).groupBy("language").count().orderBy("count")
    return summary

In [ ]:
langs_ds = spark.sql(f"SELECT LanguageWorkedWith \
                FROM {table_name} \
                WHERE DevType LIKE '%Data scientist%'")

sum_lang = prepare_lang(langs_ds).toPandas()

figure(figsize=(8, 9))
plt.barh(width=sum_lang["count"], y=sum_lang["language"])
plt.show()

## Narysuj wykres którego chcą wykorzystywać w przyszłości Data Scientists

In [ ]:
lang_desired = spark.sql(f"select LanguageDesireNextYear \
                from {table_name} \
                where DevType like '%Data scientist%'")

sum_lang = prepare_lang(lang_desired, 'LanguageDesireNextYear').toPandas()

figure(num=None, figsize=(8, 9), dpi=80, facecolor='w', edgecolor='k')
plt.barh(width=sum_lang["count"], y=sum_lang["language"])
plt.show()

## Narysuj wykres prezentujący liczbę godzin na pracy w zależności od wykształcenia

In [ ]:
spark.sql(f"select distinct EdLevel from {table_name}").show(truncate=False) # jakie są wartości wykształcenia

In [ ]:

ed_pandas = spark.sql(f"SELECT EdLevel, WorkWeekHrs FROM {table_name} \
            WHERE WorkWeekHrs BETWEEN 10 AND 80 \
            AND (EdLevel LIKE '%Bachelor%' OR EdLevel LIKE '%Master%' OR EdLevel LIKE '%Other doctoral%')").toPandas()

ed_pandas['EdLevel'] = ed_pandas['EdLevel'].replace('Bachelor’s degree (B.A., B.S., B.Eng., etc.)','Bachelor')
ed_pandas['EdLevel'] = ed_pandas['EdLevel'].replace('Master’s degree (M.A., M.S., M.Eng., MBA, etc.)','Master')
ed_pandas['EdLevel'] = ed_pandas['EdLevel'].replace('Other doctoral degree (Ph.D., Ed.D., etc.)','Doctor')

ed_pandas

In [ ]:
sns.catplot(x="EdLevel", y="WorkWeekHrs", data=ed_pandas)
plt.show()

## Narysuj wykres wiolinowy pokazujacy rozkład dochodów w zależności od wykształcenia

In [ ]:
ed_pay = spark.sql(f"SELECT EdLevel, CAST (CompTotal AS INT) AS CompTotal FROM {table_name} \
            WHERE CompTotal BETWEEN 0 AND 1000000  \
            AND (EdLevel LIKE '%Bachelor%' OR EdLevel LIKE '%Master%' OR EdLevel LIKE '%Other doctoral%')").toPandas()

ed_pay['EdLevel'] = ed_pay['EdLevel'].replace('Bachelor’s degree (B.A., B.S., B.Eng., etc.)','Bachelor')
ed_pay['EdLevel'] = ed_pay['EdLevel'].replace('Master’s degree (M.A., M.S., M.Eng., MBA, etc.)','Master')
ed_pay['EdLevel'] = ed_pay['EdLevel'].replace('Other doctoral degree (Ph.D., Ed.D., etc.)','Doctor')

ed_pay

In [ ]:
sns.catplot(x="EdLevel", y="CompTotal", kind="boxen",
            data=ed_pay);
plt.show()

## ⭐ Narysuj heatmape odwiedzin na StackOverflow dla wybranych krajów ⭐

In [ ]:
spark.sql(f"SELECT DISTINCT SOVisitFreq FROM {table_name}").show(truncate=False)

In [ ]:
so_v = spark.sql(f"SELECT SOVisitFreq, t1.country, COUNT(*)/first(t2.t) AS cnt from {table_name} t1 \
            JOIN (SELECT country, COUNT(*) as t FROM {table_name} GROUP BY country) t2 \
            ON t1.country = t2.country \
            WHERE t1.country IS NOT NULL AND SOVisitFreq IS NOT NULL \
            AND t1.country IN ('Poland', 'United States', 'Russian Federation', 'China', 'India', 'Germany', 'Japan') \
            GROUP BY t1.country, SOVisitFreq").toPandas()

so_v['SOVisitFreq'] = pd.Categorical(so_v['SOVisitFreq'], ["I have never visited Stack Overflow (before today)", "Less than once per month or monthly", "A few times per month or weekly", "A few times per week", "Daily or almost daily", "Multiple times per day"])
# so_v.sort_values['SOVisitFreq']

In [ ]:
heatmap2_data = pd.pivot_table(so_v, values='cnt', index=['country'], columns='SOVisitFreq')
sns.heatmap(heatmap2_data, cmap="BuGn")
plt.show()

## <span style='background:yellow'> ZADANIE 4 </span>
* Narysuj wykres słupkowy popularności wykorzystywanych baz danych przez profesjonalnych programistów.
* Narysuj wykres kołowy przedstawiający procentowy udział poziomu wykształcenia inz, mgr i dr w grupie respondentów.

In [ ]:
spark.stop()